@import './base.css';


* {
  animation: ease-in-out 0.3s;
}

.Center-Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Space-Between-Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
