@import './base.css';


* {
  animation: ease-in-out 0.3s;
}

.Center-Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Space-Between-Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 基础暗黑模式样式 */
html.dark {
  background-color: #1a1a1a; /* 暗背景色 */
  color: #e0e0e0; /* 浅字体色 */
}


/* 输入框样式 */
html.dark body{
  background-color: #1a1a1a;
  color: #fff; /* 设置文本颜色为白色 */
}
/* 调整链接颜色 */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}